<h1> </h1>



<div class="jumbotron jumbotron-fluid">
   <div class="container">
      <h1 class="display-4">All Notes for <%= @classroom.subject%> Class </h1>
      <p class="lead"> </p>
      <hr class="my-4">
      <p>
         <%bind.pry%>
            <% @notes.each do |n| %>
                  <li> <%= link_to n.title, student_note_path(current_student, n) %> - Owner: <%= n.student.username%></li>
               <% end %>
         </p>
         <br>
       <a class="btn btn-primary btn-md" <%= link_to 'Back', :back %></a> 
   </div>
</div>


