<h1> Classroom Show Page </h1>

<h2>Welcome to <%= @classroom.subject%> Class </h2>

 <%# <%binding.pry%> 

<h3>All Notes for this Class From Everyone: </h3>




<li>
    <%  @classroom.notes.each do |n|%>
        <%# <%binding.pry%>
        <li> <%= link_to n.title, note_path(n) %> - Owner: <%=n.student.username%></li>
    <% end %>

</li>



 <%# if current_student.id == n.student_id  %>

