<h1> Classroom Show Page </h1>

<h2>Welcome to <%= @classroom.subject%> Class </h2>


link to add new note
<br>


link to see all notes


<%= link_to "All Notes", "/classrooms/#{@classroom.id}/notes" %>





